body {
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}


.box {
    width: 100px;
    height: 100px;
    animation-iteration-count: infinite;
    animation-name: gradient;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes gradient {
    0% {
      background-color: red;
      transform: translate(0);
    }

    25% {
        background-color: blue;
        transform: translate(0, 400px);
    }
  
    50% {
      background-color: green;
      transform: translate(400px, 400px);
    }
   
    75% {
        background-color: yellow;
        transform: translate(400px, 0);
    }

    100% {
      background-color: red;
      transform: translate(0px, 0);
    }
  }